    @media (min-width: 1000px) {
        .mobile {
            display: none;
        }
    }

    .desktop{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background: #fff;
        border-bottom: 1px solid lightgray;
        display: flex;
        justify-content: center;
        padding: 5px 0;
    }

    .desktop-wrapper{
        width: 70%;
        max-width: 1000px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .main-logo{
        height: 100%;
        margin-top: 5px;
    }

    .search-box{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 200px;
        height: 25px;
        background: #fafafa;
        border: 1px solid #dfdfdf;
        border-radius: 2px;
        color: lightslategray;
    }

    .desktop-items{
        height: 22px;
        position: relative;
    }

    .desktop-icon{
        height: 100%;
        margin: 0 10px;
        display: inline-block;
    }


    @media (max-width: 800px) {
        .desktop {
            display: none;
        }
}

    body {
        max-width: 720px;
        margin: 0 auto;
    }

    #header {
        position: fixed;
        width: 100%;
        max-width: 720px;
        top: 0%;
        background-color: white;
        border-bottom: 1px solid lightgray;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #header .header-icon {
        width: 6%;
        margin: 3% 5%;
    }

    #header #instagram_logo {
        width: 27%
    }

/*#스토리*/
    #wrapper {
        padding-top: 12%;
        padding-bottom: 12%;
    }

    #story-wrapper {
        display: flex;
        justify-content: flex-start;
        background-color: #F2F4F4;
        padding-left: 1%;
        border-bottom: 1px solid lightgray;
        align-items: center;
        overflow: hidden;
    }

    .story {
        width: auto;
        margin: 2.5% 3.2%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .profile-pic {
        width: 13vw;
        max-width: 80px;
        max-height: 80px;
        height: 13vw;
        border-radius: 50%;
        border: 2px solid transparent;
    }

    .profile-pic img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    .username {
        font-size: 12px;
        margin-top: 10%;
        margin-bottom: 0%;
    }

/*포스트*/

    .left-wrapper {
        margin-left: 3%;
        display: flex;
        align-items: center;
        width: 100%;
    }

    .right-wrapper {
        width: 100%;
        display: flex;
        justify-content: right;
        margin-right: 3%;
    }

    .info {
        width: 100%;
        margin: 1% 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .info .left-wrapper img {
        width: 15%;
        height: 15%;
        border-radius: 50%;
        border: 1px solid lightgray;
        margin: 0 2%;
    }

    .info .left-wrapper p {
        margin-left: 2%;
        font-weight: bold;
        font-size: 14px;
    }

    .post-body img {
        width: 100%;
    }

    .post-body .post-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 1%;
    }

    .post-body .post-content .left-wrapper .icon {
        margin: 2% 4%;
        width: 13%;
    }

    .post-body .post-content .right-wrapper img {
        margin: 2% 4%;
        width: 11%;
    }

    .post-footer {
        padding-left: 2%;
        border-bottom: 1px solid lightgray;
    }

    .post-footer .post-like-wrapper {
        display: flex;
        align-items: center;
        margin-left: 1%;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .post-footer .post-like-wrapper p {
        margin-bottom: 2%;
        margin-top: 2%;
        font-size: 14px;
    }

    .post-footer .post-content-wrapper {
        display: flex;
    }

    .post-footer .post-content-wrapper .post-author {
        margin: 0% 2% 0% 2%;
        font-weight: bold;
        font-size: 14px;
    }

    .post-footer .post-content-wrapper .post-content {
        margin: 0%;
        font-size: 14px;
    }

    .post-footer .post-time {
        color: gray;
        font-size: 10px;
        margin-left: 2%;
        margin-top: 5%;
    }


    #footer {
        width: 100%;
        max-width: 720px;
        bottom: 0;
        position: fixed;
        background-color: white;
        border-top: 1px solid lightgray;
    }

    #footer #icon-wrapper {
        margin: 4% 6%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #footer #icon-wrapper > img {
        width: 6%
    }
